<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lobby</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Welcome to Lobby!</h1>
    <h2 th:text="|Your lobby's ID is ${lobby.id}. Share it with your friends to have them join!|"></h2>
    <h3 id="players"></h3>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let myPlayerList = document.getElementById("players");
        let lobbyPlayerNameList = /*[[${lobbyPlayerNameList}]]*/ 'default';

        setInterval(function() {
            while (myPlayerList.firstChild) {
                myPlayerList.removeChild(myPlayerList.firstChild);
            }
            lobbyPlayerNameList.forEach(player => {
                let myPlayerUnorderedList = document.createElement('ul');
                myPlayerUnorderedList.setAttribute('id', 'playerList')
                let myPlayer = document.createElement('li')

                myPlayer.append(player);
                myPlayerUnorderedList.append(myPlayer);
                myPlayerList.append(myPlayerUnorderedList)
            });
        }, 3000);
        /*]]>*/
    </script>
</body>
</html>