<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lobby</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Welcome to Lobby!</h1>
    <h2 th:text="|Your lobby's ID is ${lobby.id}. Share it with your friends to have them join!|"></h2>
    <h3 id="players">
        <ul id="playerList"></ul>
    </h3>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let lobbyPlayerNameList = /*[[${lobbyPlayerNameList}]]*/ 'default';
        /*]]>*/
        function createAndAppendListElements() {
            lobbyPlayerNameList.forEach(player => {
                let myPlayer = document.createElement('li')

                myPlayer.append(player);
                myPlayerUnorderedList.append(myPlayer);
            });
        }
        window.onload = () => {
            createAndAppendListElements()
        }

        let myPlayerUnorderedList = document.getElementById('playerList');

        let lobbyReloadInterval = setInterval(function() {
            while (myPlayerUnorderedList.firstChild) {
                myPlayerUnorderedList.removeChild(myPlayerUnorderedList.firstChild);
            }

            createAndAppendListElements();
            location.reload();
        }, 10000);

        lobbyPlayerNameList.length == 7 ? clearInterval(lobbyReloadInterval) : 0;
    </script>
</body>
</html>